.background-image {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #478978;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .back {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  






  /* .background-image {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
      rgba(0,0,0,0.4),rgba(0,0,0,0.6),rgba(0,0,0,0.3)
    ),url(../bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .back {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
  